dw3/src/main/mule/dw7.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dw7Flow" doc:id="96b2fb76-3b03-454b-b163-570ddad1a948" >
		<http:listener doc:name="Listener" doc:id="d1d1e501-7db1-4176-9908-cd24507c0e43" config-ref="HTTP_Listener_config" path="/dw7"/>
		<ee:transform doc:name="Transform Message" doc:id="fffe5007-b59e-45e8-9966-5705164b4368" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload pluck ((value,key,index) -> [key,index,value] )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a9d96114-2ac3-467b-8be1-a2b17caf3bb2" message="#[payload]"/>
	</flow>
</mule>
