dw3/src/main/mule/dw8.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dw8Flow" doc:id="9716c121-cab6-4f26-bb4b-32d652a48d12" >
		<http:listener doc:name="Listener" doc:id="069b2a25-8aad-4941-ab4a-71f032a441c6" config-ref="HTTP_Listener_config" path="/dw8"/>
		<ee:transform doc:name="Transform Message" doc:id="17d9802e-5748-490f-b80e-97862c8d75d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload mapObject ((value, key, index) -> (upper(key)):upper(value))
	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="821f5fc2-5eac-4534-ae23-4824c981152e" message="#[payload]"/>
	</flow>
</mule>
